name: Check security.txt

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 16 * * 1" # Weekly on Mondays at 16:00 UTC

jobs:
  check:
    name: Check security.txt
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          uv venv
          uv pip install -r requirements.txt

      - name: Run sectxt-checker
        env:
          HEALTHCHECK_URL: ${{ vars.HEALTHCHECK_URL }}
        run: |
          uv run checker.py
